mixin section(name, arr)
	if name == ''
		each item in arr
			div(class='gap')
				input(class='checkboxSquare' type="checkbox" name="")
				label(class='l')=item.text
	if name == 'checkboxSmall'
		each item in arr
			if item.label
				label.checkboxSmallLabel
					input(class='checkboxSmall' type="checkbox" name="")
					span=item.label
			else 
				input(class='checkboxSmall' type="checkbox" name="")