footer.footer
	.container
		.row 
			.footer-cooper.col-md-5 
				.footer-cooper_up 
					ul
						li Сотрудничество 
				.footer-cooper_down
					ul 
						li Контакты:
						li 
							a(href="#")
								img(src="../img/socialmedia/Telegram 1.png" alt="#")
						li 
							a(href="#")
								img(src="../img/socialmedia/watsapp.png" alt="#") 
						li 
							a(href="#") 8(812) 415-82-77
			.footer-about.col-md-6
				.footer-about_up 
					ul
						li О нас
				.footer-about_down
					ul 
						li Присоединяйтесь: 
						li 
							a(href="#")
								img(src="../img/socialmedia/insta.png" alt="#")
						li 
							a(href="#")
								img(src="../img/socialmedia/Telegram 1.png" alt="#")
			.footer-capsules.col-md-1
				.footer-capsules_up 
					ul
						li Капсулы