.footer
	background: rgba(57, 63, 67, 1)
	&-cooper
		&_up
			ul
				margin-bottom: 100px
				padding: 40px 0 0 0
				li
					font-size: 18px
					font-weight: 400
					color: #fff
		&_down
			display: flex
			ul
				display: flex
				padding: 0
				li
					font-size: 18px
					font-weight: 400
					color: #fff
					margin-right: 40px
					a
						color: #fff
	&-about
		&_up
			ul
				margin-bottom: 100px
				padding: 40px 0 0 0
				li
					font-size: 18px
					font-weight: 400
					color: #fff
		&_down
			display: flex
			ul
				display: flex
				padding: 0
				li
					font-size: 18px
					font-weight: 400
					color: #fff
					margin-right: 40px
					a
						color: #fff
		&_right
			ul
				display: flex
				padding: 0
				li
					font-size: 18px
					font-weight: 400
					margin-left: 60px
					color: #fff
	&-capsules
		&_up
			ul
				margin-bottom: 100px
				padding: 40px 0 0 0
				li
					font-size: 18px
					font-weight: 400
					color: #fff

@media (max-width: 770px)
	.footer
		&-cooper
			&_up
				ul
					margin-bottom: 30px
					padding-top: 20px
					li
						font-size: 14px
			&_down
				flex-direction: column
				text-align: center
				padding-bottom: 10px
				ul
					margin-bottom: 10px
					li
						margin: 0 10px
						font-size: 14px
						&:first-child
							margin-left: 0
		&-about
			&_up
				ul
					margin-bottom: 30px
					padding-top: 20px
					li
						font-size: 14px
			&_down
				flex-direction: column
				text-align: center
				padding-bottom: 10px
				ul
					margin-bottom: 10px
					li
						margin: 0 10px
						font-size: 14px
						&:first-child
							margin-left: 0
		&-about
			//
		&-capsules
			&_up
				ul
					margin-bottom: 30px
					padding-top: 20px
					li
						font-size: 14px
