include ../../../sass/chunks/sizes/sizes
include ../../../sass/chunks/buttons/buttons

section.carts
	.container 
		.row
			.carts-cart.col-md-4
				.carts-cart_image
					.swiper.mySwiper 
						.swiper-wrapper
							a.swiper-slide(href="#")
								img(src="@img/carts/img1.png" alt="")
						.swiper-button-next
						.swiper-button-prev
					+sizes()
					+btn-grey('выбор размеров', 'showSizes')
				.carts-cart_title Спортивный костюм-худи+джогеры
				ul 
					li А801/grey
					li вискоза 19%, хлопок 20% 
					li подклад:  100% шерсть 
				.carts-cart_price <span>4100</span> руб.

			.carts-cart.col-md-4
				.carts-cart_image
					.swiper.mySwiper 
						.swiper-wrapper
							a.swiper-slide(href="#")
								img(src="@img/carts/img2.png" alt="")
						.swiper-button-next
						.swiper-button-prev
					+sizes()
					+btn-grey('выбор размеров', 'showSizes')
				.carts-cart_title Спортивный костюм-худи+джогеры
				ul 
					li А801/grey
					li вискоза 19%, хлопок 20% 
					li подклад:  100% шерсть 
				.carts-cart_price <span>4100</span> руб.

			.carts-cart.col-md-4
				.carts-cart_image
					.swiper.mySwiper 
						.swiper-wrapper
							a.swiper-slide(href="#")
								img(src="@img/carts/img1.png" alt="")

							a.swiper-slide(href="#")
								img(src="@img/carts/img2.png" alt="")
						.swiper-button-next
						.swiper-button-prev
					+sizes()
					+btn-grey('выбор размеров', 'showSizes')
				.carts-cart_title Спортивный костюм-худи+джогеры
				ul 
					li А801/grey
					li вискоза 19%, хлопок 20% 
					li подклад:  100% шерсть 
				.carts-cart_price <span>4100</span> руб.

			.carts-cart.col-md-4
				.carts-cart_image
					.swiper.mySwiper 
						.swiper-wrapper
							a.swiper-slide(href="#")
								img(src="@img/carts/img1.png" alt="")

						.swiper-button-next
						.swiper-button-prev
					+sizes()
					+btn-grey('выбор размеров', 'showSizes')
				.carts-cart_title Спортивный костюм-худи+джогеры
				ul 
					li А801/grey
					li вискоза 19%, хлопок 20% 
					li подклад:  100% шерсть 
				.carts-cart_price <span>4100</span> руб.

			.carts-cart.col-md-4
				.carts-cart_image
					.swiper.mySwiper 
						.swiper-wrapper
							a.swiper-slide(href="#")
								img(src="@img/carts/img5.png" alt="")
						.swiper-button-next
						.swiper-button-prev

					+sizes()
					+btn-grey('выбор размеров', 'showSizes')
				.carts-cart_title Спортивный костюм-худи+джогеры
				ul 
					li А801/grey
					li вискоза 19%, хлопок 20% 
					li подклад:  100% шерсть 
				.carts-cart_price <span>4100</span> руб.

			.carts-cart.col-md-4
				.carts-cart_image
					.swiper.mySwiper 
						.swiper-wrapper
							a.swiper-slide(href="#")
								img(src="@img/carts/img6.png" alt="")


						.swiper-button-next
						.swiper-button-prev
					+sizes()
					+btn-grey('выбор размеров', 'showSizes')
				.carts-cart_title Спортивный костюм-худи+джогеры
				ul 
					li А801/grey
					li вискоза 19%, хлопок 20% 
					li подклад:  100% шерсть 
				.carts-cart_price <span>4100</span> руб.