mixin section(name)
	if name == ''
		<div id="color-picker" class="cp-default">
			<div class="picker-wrapper">
				<div id="picker" class="picker"></div>
				<div id="picker-indicator" class="picker-indicator"></div>
			</div>
			<div class="pcr-wrapper">
				<div id="pcr" class="pcr"></div>
				<div id="pcr-indicator" class="pcr-indicator"></div>
			</div>
			<ul id="color-values">
				//-<li><label>RGB:</label><span id="rgb"></span></li>
				//-<li><label>HSV:</label><span id="hsv"></span></li>
				<li><label>HEX</label><span id="hex"></span></li>
				//-<li><div id="pcr_bg"></div></li>
			</ul>
		</div>