mixin section(arr, applyTitle, buttons, name)
	section.apply
		.container
			.apply-cont
				.apply-title=applyTitle
				each item in arr
					.row
						+line(name, [{
							text: item.text,
							state: item.state,
							mb: item.mb,
							title: item.title,
							format: item.format
						}])
				if buttons == 'buttons'
					.row
						.apply-btns
							+btn('', [
							{
								'class': 'btnRed applyBtn',
								'text': 'Добавить еще',
								'href': '#',
								'imgR': '@img/img99/sections/apply/btn.svg'
							}
							])
							+btn('', [
							{
								'class': 'btnRed chooseBtn',
								'text': 'Нанести водяной знак',
								'href': '#',
								'imgR': '@img/img99/sections/apply/arrow.svg'
							}
							])
				if buttons == 'buttonsthree'
					.row
						.apply-btns
							+btn('', [
							{
								'class': 'btnRed applyBtn',
								'text': 'Добавить еще',
								'href': '#',
								'imgR': '@img/img99/sections/apply/btn.svg'
							}
							])
							+accordion('btn', [{
								btnText: 'ICO'
							}])
							+btn('', [
							{
								'class': 'btnRed chooseBtn',
								'text': 'Нанести водяной знак',
								'href': '#',
								'imgR': '@img/img99/sections/apply/arrow.svg'
							}
							])