section.product
	.container
		.product-cont
			.row
				.col-md-6
					.product-left
						.product-sliderwrap
							.product-slider
								.product-slider_left
									.swiper.slider2
										.swiper-wrapper
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
								.product-slider_right
									.swiper.slider1
										.swiper-wrapper
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
											.swiper-slide
												img(src="@img/product/prid1.png" alt="")
				.col-md-6
					.product-right
						.product-right_title Брюки прямые
						.product-right_properties
							ul
								li А801blue
								li Размерный ряд: 42-52
						.product-right_price
							.price 2250 руб. 
							.share
								span Поделиться
								img(src="@img/svg/share.svg" alt="")
						p Мы используем только натуральные материалы, которые обеспечивают комфорт и долговечность изделий. Вы можете быть уверены, что эти брюки будут служить вам верой и правдой на протяжении долгого времени, не теряя своей формы и цвета. Они подойдут как для повседневной носки, так и для офиса, вечерних мероприятий-летом и весной благодаря своей легкости и комфорту. Стиль этих брюк сочетает в себе классические элементы и современные тенденции.
						include ../../../sass/chunks/accordion/accordion
						+accordion(title)
						include ../../../sass/chunks/sizes/sizes
						+sizes('Выбор размеров')
				include ../../../sass/chunks/productsSlide/productsSlide
				+masonry-card('С этим товаром покупают', '@img/catalog/DSC03745 1.png')
				+masonry-card('Похожие товары', '@img/catalog/intetest.png')
				+masonry-card('Вы интересовались', '@img/catalog/DSC06697 1.png')