.btnGrey
	cursor: pointer
	background: #908A8A
	text-align: center
	width: 100%
	color: $white
	padding: 15px 0
	transition: 0.5s
	border: none
	padding: 11px 0
	img
		width: auto !important
		margin-right: 10px

.rectangular
	background-color: $page-bg
	border-radius: 0
	font-size: 14px
	padding: 6px 26px
	color: $white
	border-radius: 0%
	font-size: 14px
	width: fit-content
	cursor: pointer
	border: 1px solid $page-bg
	transition: $transition
	&:hover
		background-color: #b69a79
		border: 1px solid #b69a79

/*btnCircle*/
.btnCircle
	background-color: #2cbf00
	color: $white
	font-size: 14px
	padding: 13px 45px
	border-radius: 25px
	font-size: 14px
	width: fit-content
	cursor: pointer
	transition: $transition
	border: none
	font-weight: 500
	img
		width: auto !important
		margin-right: 10px
	&:hover
		background-color: #2c8d0f
/*btnCircle*/

// Выпадающий список
.dropdownbtn
	background: none
	border: none
	color: $white
	display: flex
	align-items: center
	i
		color: $white
		margin-left: 10px
		transition: $transition

@media (max-width: $xl)
	//.dropdownbtn
	//	color: $text
	//	border-radius: 4px
	//	position: relative
	//	display: flex
	//	align-items: center
	//	padding: 0
	//	&:hover
	//		background: none
	//	i
	//		color: #000
	//	.active
	//		display: block
// Выпадающий список

// Бургер с анимацией на закрывание
.menubtn
	position: relative
	z-index: 4
	width: 100%
	background: none
	border: none
	width: 100%
	height: 100%
	display: none
	&-line
		content: ""
		position: absolute
		width: 100%
		height: 2px
		background-color: #ffffff
		-webkit-transition: 0.4s
		-o-transition: 0.4s
		transition: 0.4s
		left: 0
	&-line::before
		content: ""
		position: absolute
		width: 100%
		height: 2px
		background-color: #ffffff
		-webkit-transition: 0.4s
		-o-transition: 0.4s
		transition: 0.4s
		top: -10px
		left: 0
	&-line::after
		content: ""
		position: absolute
		width: 100%
		height: 2px
		background-color: #ffffff
		-webkit-transition: 0.4s
		-o-transition: 0.4s
		transition: 0.4s
		top: 10px
		left: 0

.menubtn.active
	.menubtn-line
		height: 0
		transition: 0s
		&::before
			top: 0
			-webkit-transform: rotate(45deg)
			-ms-transform: rotate(45deg)
			transform: rotate(45deg)
		&::after
			top: 0
			-webkit-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)

@media (max-width: $xl)
	.menubtn
		display: block
// Бургер с анимацией на закрывание

// Красная кнопка
.btnRed
	color: #fff
	background: #E82424
	border-radius: 8px
	padding: 13px 26px
	font-weight: $semiBold
	font-size: 18px
	&:hover
		box-shadow: $box-shadow
		color: #fff
		background: #be1d1d
// Красная кнопка

// Наложение картинки на картинку 
@media (max-width: $xl)

// Наложение картинки на картинку 
