mixin withus(arr)
	section.withus
		.container
			.withus-cont
				.row
					.col-md-7
						.withus-title img99
						.withus-subtitle - Бесплатный онлайн сервис для конвертации, создания водяных знаков и сжатия файлов.
						.withus-items
							.withus-items_item
								.withus-items_item__title Преимущество
								.withus-items_item__subtitle Rorem ipsum dolor sit amet, consectetur adipiscing elit. 
							.withus-items_item
								.withus-items_item__title Преимущество
								.withus-items_item__subtitle Rorem ipsum dolor sit amet, consectetur adipiscing elit. 
							.withus-items_item
								.withus-items_item__title Преимущество
								.withus-items_item__subtitle Rorem ipsum dolor sit amet, consectetur adipiscing elit.
						.withus-text Описание ...Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. Rorem ipsum dolor sit amet, consectetur adipiscing elit. 
					.col-md-5
						.withus-image
							img(src="../../../img/img99/sections/withus/logo.jpg" alt="")