mixin block(arr)
	section.block
		.container
			.block-cont
				.row
					.col-md-4
						.block-item
							.block-item_image
								img(src="../../../img/img99/sections/blocks/arrows.png" alt="")
							.block-item_text Конвертация фото в разные форматы
					.col-md-4
						.block-item
							.block-item_image
								img(src="../../../img/img99/sections/blocks/word.png" alt="")
							.block-item_text Нанесение водного знака на фото
					.col-md-4
						.block-item
							.block-item_image
								img(src="../../../img/img99/sections/blocks/arrowstwo.png" alt="")
							.block-item_text Сжатие фотографий без потери качества
