.accordion
	&-cont
		>ul
			padding: 0
			>li
				font-size: 16px
				font-weight: 600
				line-height: 22px
				cursor: pointer
				margin-bottom: 10px
	&-content
		max-height: 0
		overflow: hidden
		transition: 0.7s
		ul
			padding: 0
			margin-bottom: 20px
		.dimensions
			ul
				display: flex
				gap: 20px
				li
					cursor: pointer
	.active
		max-height: 500px

@media (max-width: 770px)
	.accordion
		&-cont
			ul
				li
					font-size: 14px
					gap: 5px
		&-content
			.dimensions
				ul
					font-size: 14px
					gap: 5px

// Аккордион
.accordion
	&-list
		width: 100%
		padding: 0
		margin: 0
		overflow: hidden
		max-height: 0
		transition: 0.5s
		a
			color: $white
			display: block
			padding-top: 8px
			text-align: left
			padding: 4px 12px
			&:hover
				background: $grayHover
.dropdown
	position: relative
	width: 68px
	min-height: 28px
	margin: 0 auto
	background: $gray
	border-radius: 4px
	&-cont
		position: absolute
		height: auto
		width: 100%
		left: 0
		top: 0
		overflow: hidden
		border-radius: 4px
		background: $gray
		border: 1px solid $gray
		&:hover
			background: $grayH

.dropdown.active
	.dropdown-cont
		background: $grayH
	.fa-chevron-down
		transform: rotate(180deg)
	.accordion
		&-list
			max-height: 100px

@media (max-width: $xl)
	.dropdown-cont
		background: $white
		color: $black
		&:hover
			background: $white
		.dropdownbtn
			color: $black
			i
				color: $black
	.accordion
		&-list
			a
				color: $black
	.dropdown.active
		.dropdown-cont
			background: $white
