mixin entertext(arr)
	each item in arr
		section.entertext
			.container
				.entertext-cont
					.entertext-title
						+btn('', [
							{
								'class': 'btnRed entertextBtn',
								'href': '#',
								'imgR': '@img/img99/sections/entertext/arrow.svg'
							}
						])
						=item.text
					.entertext-subtitle 
						.entertext-subtitle_bnts
							+btn('', [
								{
									'class': 'btnRed leftBtn',
									'text': 'Текст',
									'href': '#',
								}
							])
							+btn('', [
								{
									'class': 'btnRed leftBtn',
									'text': 'Логотип',
									'href': '#',
								}
							])
					.row
						.col-md-7.df
							.entertext-left
								.entertext-left_colors
									.entertext-left_colors__left
										if item.img
										.entertext-left_colors__left__image
											img(src=item.img alt='')
								.entertext-left_colorpicker
									+colorpicker('')
							.entertext-right
								.entertext-right_input
									input(type="text" name="" placeholder="Введите текст")
									+accordion('default', [{
										btnText: 'Выберите шрифт'
									}])
								.entertext-right_checkbox
									+checkbox('')
								.entertext-right_range
									+input('rangeInput', [{
										title: 'Отступ между текстом:',
										min: '0',
										max: '100',
										value: '16'
									}])
									+input('rangeInput', [{
										title: 'Размер шрифта:',
										min: '0',
										max: '100',
										value: '16'
									}])
									+input('rangeInput', [{
										title: 'Прозрачность шрифта:',
										min: '0',
										max: '100',
										value: '16'
									}])
									+input('rangeInput', [{
										title: 'Угол наклона шрифта:',
										min: '0',
										max: '100',
										value: '16'
									}])






