extends pug/base/base

block main
	section.orders.basket
		.container 
			+line('lineLeftRightElement')
			+line('lineTubs')
			.orders-cont

				.orders-head
					ul
						li
							span
						li
							span Описание / Размеры
						li
							span Количество
						li
							span Сумма

						li
							span Очистить корзину 

								i.fa-regular.fa-trash-can
				.orders-item
					ul
						-for(let i = 0; i < 3; i++)
							li
								.orders-item_cont.active
									ul
										li
											.orders-item_cont__img
												img(src="@img/imgdsdsdd.jpg" alt="")
										li
											ul
												li
													span Джемпер B2683/weasel
													p Джемпер B2683/weasel
													ul
														li
															span 42
															span 46
														li
															span 2
															span 5
										li 2 x 1990 ₽
										li 3980 ₽
										li.last
											span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span.order_size 42
														span.order_size 46
													li
														span.order_size 2
														span.order_size 5
											.icons
												i.fa-regular.fa-pen-to-square
												i.fa-regular.fa-trash-can
			.row.basketBtn
				.col-md-12
					.d-flex.justify-content-end
						div 
							ul 
								li.d-flex.justify-content-between 
									span Всего товаров: 
									span 3
								li.d-flex.justify-content-between 
									span Общая стоимость (без доставки) : 
									span 13770 ₽
							.d-flex
								+btn('rectangular', [{'text': 'Продолжить покупки'}])
								+btn('rectangular', [{'text': 'Оформить заказ'}])

