extends pug/base/base

block main

	include pug/sections/advertising/advertising
	+advertising([{
		img: '@img/img99/sections/adven/up.jpg'
	}])

	include pug/sections/convert/convert
	+convert({
		title: 'Сжатие фотографий без потери качества',
		subtitle: 'Cервис поможет вам сжать фото, не теряя его качества'
	})

	include pug/sections/choosefile/choosefile
	+choosefile({
		text: 'Мы преобразовали <span>2, 008, 852, 032</span> файлов общим размером <span>39,196 ТБ</span>',
		btntext: 'Перетащите файлы сюда. 100 MB максимальный размер файла'
	})

	include pug/sections/support/support
	+support({
		title: 'Поддержите наш проект',
		subtitle: 'Друзья! Мы хотим чтобы наш сайт был бесплатным. Не хотим подключать личный кабинет и брать за это плату. Но для поддержания и развития необходимы средства. Будем признательны за любой денежный вклад от 5 рублей до 1 000 000 $ ;) →',
		text: 'или сканируйте QR код'
	})

	include pug/sections/advertising/advertising
	+advertising([{
		img: '@img/img99/sections/adven/down.jpg'
	}])