extends pug/base/base

block main

	include pug/sections/advertising/advertising
	+advertising([{
		img: '@img/img99/sections/adven/up.jpg'
	}])

	include pug/sections/convert/convert
	+convert({
		title: 'Конвертация фото в разные форматы',
		subtitle: 'Сконвертируйте ваши файлы в форматы: ICO, JPG, JPEG, Webp'
	})

	include pug/sections/apply/apply
	+apply([
		{text: 'Название файла', mb: 'ICO / 13.4 МБ', title: 'Готово'},
		{text: 'Название файла', state: 'load', mb: '13.4 МБ', title: 'Конвертируется'},
		{text: 'Название файла', state: 'error', mb: '13.4 МБ', title: 'Ошибка'}
	], 'Файлы', 'buttonsone', 'lineStateMini')

	include pug/sections/support/support
	+support({
		title: 'Поддержите наш проект',
		subtitle: 'Друзья! Мы хотим чтобы наш сайт был бесплатным. Не хотим подключать личный кабинет и брать за это плату. Но для поддержания и развития необходимы средства. Будем признательны за любой денежный вклад от 5 рублей до 1 000 000 $ ;) →',
		text: 'или сканируйте QR код'
	})

	include pug/sections/advertising/advertising
	+advertising([{
		img: '@img/img99/sections/adven/down.jpg'
	}])