extends pug/base/base

block main
	+form('formBgImage')
	
	section.carts
		.container 
			.row
				+productAndSlider('', [
					{
						'title': 'Спортивный костюм-худи+джогеры',
						'images': ['@img/carts/img1.png'],
						'attr': ['А801/grey', 'вискоза 19%, хлопок 20%','подклад:  100% шерсть']
					},
					{
						'title': 'Спортивный костюм-худи+джогеры',
						'images': ['@img/carts/img2.png'],
						'attr': ['А801/grey', 'вискоза 19%, хлопок 20%','подклад:  100% шерсть']
					},
					{
						'title': 'Спортивный костюм-худи+джогеры',
						'images': ['@img/carts/img3.png','@img/carts/img2.png'],
						'attr': ['А801/grey', 'вискоза 19%, хлопок 20%','подклад:  100% шерсть']
					},
					{
						'title': 'Спортивный костюм-худи+джогеры',
						'images': ['@img/carts/img1.png', '@img/carts/img5.png'],
						'attr': ['А801/grey', 'вискоза 19%, хлопок 20%','подклад:  100% шерсть']
					},
					{
						'title': 'Спортивный костюм-худи+джогеры',
						'images': ['@img/carts/img5.png'],
						'attr': ['А801/grey', 'вискоза 19%, хлопок 20%','подклад:  100% шерсть']
					},
					{
						'title': 'Спортивный костюм-худи+джогеры',
						'images': ['@img/carts/img6.png'],
						'attr': ['А801/grey', 'вискоза 19%, хлопок 20%','подклад:  100% шерсть']
					},
				])