extends pug/base/base

block main
	section.orders 
		.container 
			+line('lineLeftRightElement')
			+line('lineTubs')
			.orders-cont
				.orders-filter
					.orders-filter_title Все заказы <i class="fa fa-angle-down"></i>
					ul
						li
							a(href="#") Все заказы 
						li
							a(href="#")  В обработке
						li
							a(href="#") Исполненные
						li
							a(href="#") Отмененные
				.orders-head
					ul
						li
							span Номер заказа
						li
							span Дата
						li
							span Кол-во товаров
						li
							span Сумма заказа
						li
							span Выполнен
							i.fa.fa-angle-down
				.orders-item
					ul
						li
							.orders-item_head
								ul
									li
										span Номер заказа
										span № 109958 
									li
										span Дата
										span 02.12.2021  	
									li
										span Кол-во товаров
										span 33
									li
										span Сумма заказа
										span 69 400 р.
									li
										span Выполнен
										i.fa.fa-angle-down

							.orders-item_cont
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
					ul
						li
							.orders-item_head
								ul
									li
										span Номер заказа
										span № 109958 
									li
										span Дата
										span 02.12.2021  	
									li
										span Кол-во товаров
										span 33
									li
										span Сумма заказа
										span 69 400 р.
									li
										span Выполнен
										i.fa.fa-angle-down

							.orders-item_cont
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
					ul
						li
							.orders-item_head
								ul
									li
										span Номер заказа
										span № 109958 
									li
										span Дата
										span 02.12.2021  	
									li
										span Кол-во товаров
										span 33
									li
										span Сумма заказа
										span 69 400 р.
									li
										span Выполнен
										i.fa.fa-angle-down

							.orders-item_cont
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
					ul
						li
							.orders-item_head
								ul
									li
										span Номер заказа
										span № 109958 
									li
										span Дата
										span 02.12.2021  	
									li
										span Кол-во товаров
										span 33
									li
										span Сумма заказа
										span 69 400 р.
									li
										span Выполнен
										i.fa.fa-angle-down

							.orders-item_cont
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
					ul
						li
							.orders-item_head
								ul
									li
										span Номер заказа
										span № 109958 
									li
										span Дата
										span 02.12.2021  	
									li
										span Кол-во товаров
										span 33
									li
										span Сумма заказа
										span 69 400 р.
									li
										span Выполнен
										i.fa.fa-angle-down

							.orders-item_cont
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		
								ul
									li
										.orders-item_cont__img
											img(src="@img/imgdsdsdd.jpg" alt="")
										ul
											li
												span Джемпер B2683/weasel
												p Джемпер B2683/weasel
												ul
													li
														span 42
														span 46
													li
														span 2
														span 5
									li 2 x 1990 ₽
									li 3980 ₽
		