mixin enterlogo(arr)
	each item in arr
		section.enterlogo
			.container
				.entertext-cont
					.entertext-title
						+btn('', [
							{
								'class': 'btnRed entertextBtn',
								'href': '#',
								'imgR': '@img/img99/sections/entertext/arrow.svg'
							}
						])
						=item.text
					.entertext-subtitle 
						.entertext-subtitle_bnts
							+btn('', [
								{
									'class': 'btnRed leftBtn',
									'text': 'Текст',
									'href': '#',
								}
							])
							+btn('', [
								{
									'class': 'btnRed leftBtn',
									'text': 'Логотип',
									'href': '#',
								}
							])
					.row.direction
						.col-md-6
							.entertext-display
								.entertext-left
									.entertext-left_colors
										.entertext-left_colors__left
											if item.img
											.entertext-left_colors__left__image
												img(src=item.img alt='')
								.entertext-right
									.entertext-right_input
										+btn('', [
										{
											'class': 'btnRed enterlogoBtn',
											'text': 'Загрузить логотип',
											'href': '#',
											'imgR': '@img/img99/sections/apply/btn.svg'
										}
										])
									.entertext-right_propagate
										+checkbox('', [{
											text: 'Размножить'
										}])
									.entertext-right_range
										+input('rangeInput', [{
											title: 'Прозрачность логотипа:',
											min: '0',
											max: '100',
											value: '16'
										}])
										+input('rangeInput', [{
											title: 'Размер:',
											min: '0',
											max: '100',
											value: '16'
										}])
									.entertext-right_checkbox
										+checkbox('', [{
											text: 'Конвертировать'
										}])
										+checkbox('', [{
											text: 'Сжать'
										}])
									.entertext-right_extension
										span в
										+accordion('default', [{
											btnText: 'ICO'
										}])
							.entertext-use
								+btn('', [
									{
										'class': 'btnRed gray',
										'text': 'Применить',
										'href': '#',
									}
								])
						.col-md-6.bottom
							.entertext-apply
								+apply([
									{text: 'Название файла.jpg', mb: '13.4 МБ', title: 'Готов' },
									{text: 'Название файла.jpg', state: 'load', mb: '13.4 МБ', title: 'Обработка'},
									{text: 'Название файла.jpg', state: 'error', mb: '13.4 МБ', title: 'Ошибка'}
								], 'Файлы', '', 'lineStateMini')
							.entertext-download
								+btn('', [
									{
										'class': 'btnRed applyBtn',
										'text': 'Скачать все файлы',
										'href': '#',
										'imgR': '@img/img99/sections/entertext/download.svg'
									}
								])


