header.header
	.container
		.header-cont
			.header-logo
				+logo('', [{
					href: '#',
					img: '@img/img99/svg/logo.svg'
				}])
			nav.header-nav
				+menu(
					'', 
					[
					{
						href: '#',
						text: 'Конвертация'
					},
					{
						href: '#',
						text: 'Водяной знак'
					},
					{
						href: '#',
						text: 'Сжатие'
					}
					],
					{
						class: 'menu-line'
					}
				)

			.header-right
				.header-right_lang
					+accordion('default', [
						{
							class: 'accordion-list',
							href: '#',
							text: 'EN'
						}
					])
				.header-right_social
					.header-right_social__network
						+btn('', [
							{
								'class': 'header-right_social__network__img',
								'imgL': '@img/img99/icons/telega.svg',
								'href': '#'
							}
							])
						+btn('', [
							{
								'class': 'header-right_social__network__img',
								'imgL': '@img/img99/icons/vk.svg',
								'href': '#'
							}
							])
					+btn('', [
						{
							'class': 'btnRed',
							'text': 'Помочь проекту',
							'href': '#'
						}
						])
			.header-button
				+btn('menubtn')